:root{
    --w: #fff;
    --sombra: rgba(0, 0, 0, 0.08);
    --vf: #299B63;
    --bf: #f5f5f5;
    --cl: #888;
}

*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'helvetica';
}

/*barra de navegacion*/
.navbar
{
    position: fixed;
    background: var(--w);
    box-shadow: 0 4px 8px 0 var(--sombra);
    width: 100%;
    height: 60px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 2fr 10fr 0.4fr 1fr;
    align-items: center;
    z-index: 1;
}

/*fin barra de navegacion*/

/*letra logo*/
.logo h2
{
    color: var(--vf);
}

/*buscador barrita*/
.buscador
{
    position: relative;
    width: 60%;
    justify-self: center;
}

.buscador input
{
    width: 100%;
    height: 40px;
    padding: 0 40px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: var(--bf);
}

.buscador i,button
{
    position: absolute;
    right: 15px;
    top: 7px;
    cursor: pointer;
}

/*contenedor y foto de usuario*/
.user
{
    position: relative;
    width: 50px;
    height: 50px;
}

.user img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
/* fin del contenedor y foto de usuario*/

/*boton del buscador*/
.buscador button
{
    background: var(--w);
    border: none;
}
/*fin del boton del buscador*/

/*barra lateral izquierda*/

.barraizq
{
    position: fixed;
    top: 60px;
    width: 260px;
    height: calc(100% - 60px);
    background: var(--vf);
    overflow-x: hidden;
}

.barraizq ul
{
    margin-top: 20px;
}

.barraizq ul li 
{
    width: 100%;
    list-style: none;
}

.barraizq ul li a
{
    width: 100%;
    text-decoration: none;
    color: var(--w);
    height: 60px;
    display: flex;
    align-items: center;
}

.barraizq ul li a i 
{
    min-width: 60px;
    font-size: 24px;
    text-align: center;
}

/*seccion del main*/
.main
{
    position: absolute;
    top: 60px;
    width: calc(100% - 260px);
    left: 260px;
    min-height: calc(100vh - 60px);
    background: var(--bf);
}

.cartas
{
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.cartas .carta
{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--w);
    border-radius: 10px;
    box-shadow: 0 7px 25px 0 var(--sombra);
}

.numero
{
    font-size: 35px;
    font-weight: 500;
    color: var(--vf);
}

.nombre-carta
{
    color: var(--cl);
    font-weight: 600;   
}

.icon-box i
{
    font-size: 45px;
    color: var(--vf);
}

/*Graficos*/
.graficos
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    width: 100%;
    padding: 20px;
    padding-top: 0;
}

.grafico
{
    background: var(--w);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 7px 25px var(--sombra);
    width: 100%;
}

.grafico h2
{
    margin-bottom: 5px;
    font-size: 20px;
    color: var(--cl);
    text-align: center;
}

.m{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*formularios*/
.for
{
    margin-top: 30px;
    
}
.for label
{
  color: var(--cl);  
  font-size: 18px;
  text-align: left;
}

.for input
{
    border-radius: 5px;
    background: var(--vf);
    box-shadow: 5px 5px 15px black;
    color: var(--w);
    padding: 5px;
    border: none;
    font-size: 15px;
    display: flex;
}

.for input::placeholder
{
    color: rgb(228, 226, 226);
    font-size: 15px;
}

.for button
{
    position: relative;
    width: 80px;
    height: 30px;
    background: var(--vf);
    border: none;
    box-shadow: 5px 5px 7px var(--sombra);
    color: var(--w);
    border-radius: 5px;
    font-size: 18px;
    margin-left: 200px;
}

.presen 
{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    color: var(--vf);
    text-shadow: 5px 5px 6px var(--sombra);
    margin-bottom: 20px;
}

.main .navbar
{
    width: 80%;
    position: relative;
    margin: auto;
    border-radius: 5px;
}

/*media qwery*/
@media (max-width:1115px) {
    .barraizq
    {
        width: 60px;
    }

    .main
    {
        left: 60px;
        width: calc(100% - 60px);
    }
}

@media (max-width:880px) {
    .cartas
    {
        grid-template-columns: repeat(2, 1fr);
    }
    .graficos{
        grid-template-columns: 1fr;
    }
}